---
title: Release Notes for Weave Cloud for PCF
owner: Partners
---


##<a id="ver"></a> v0.0.2

**Release Date:** January 12, 2018

**Features included in this release:**

* **PCF monitoring**: Collects metrics from all components of PCF.
* **IaaS-level monitoring**: Collects metrics about CPU, memory usage, IO, network, and VM states, regardless of the underlying infrastructure.
* **Third-party services monitoring**: Collects metrics from MySQL, PostgreSQL, Redis, and RabbitMQ.
* **Application monitoring**: Gathers standard metrics (CPU, memory, or disk usage), arbitrary metrics (gauges, counters, timings, sets), and HTTP-specific metrics (requests per second, status codes, error rates, and more).
* **SSO and multi-tenancy**: Uses the Cloud Foundry UAA service.
  to control access to apps and resources based on user roles and rights within the platform. 
Multi-tenancy is implemented according to Cloud Foundry UAA roles. 
Dedicated shares of the solution are deployed to different spaces to collect metrics from the apps and services running within.
* **Alerts**: Can be defined for each dashboard panel, and allow users to get immediate notifications through email, Slack, and other notification channels. 
* Initial Beta Release
